/bts_all_item_context.parquet.snappy
/bts_all.parquet.snappy
/bts_men_item_context.parquet.snappy
/bts_men.parquet.snappy
/bts_women_item_context.parquet.snappy
/bts_women.parquet.snappy
/random_all_item_context.parquet.snappy
/random_all.parquet.snappy
/random_men_item_context.parquet.snappy
/random_men.parquet.snappy
/random_women_item_context.parquet.snappy
/random_women.parquet.snappy
